table(align='center',width='100%',cellspacing='1',cellpadding='0',class='maintable ')
  tr
    td(align='center',valign='middle',class='navmenu',width='48')
      a(href='thumbnails.php?album=487&amp;page=1', class='navmenu_pic', title='Return to the thumbnail page')
        img(src='/images/gallery/icons/back-to-thumbnails.png', align='middle', border='0', alt="Return to the thumbnail page")
    td(id='pic_info_button',align='center',valign='middle',class='navmenu',width='48')
    td(id='slideshow_button',align='center',valign='middle',class='navmenu',width='48')
    td(align='center',valign='middle',class='navmenu',width='100%') FILE 2/!{count}

    td(align='center',valign='middle',class='navmenu',width='48')
      a(href='displayimage.php?album=487&amp;pid=14161#top_display_media',class='navmenu_pic',title='Return to start')
        img(src='/images/gallery/icons/start.png',border='0',align='middle',alt='Return to start')
    td(align='center',valign='middle',class='navmenu',width='48')
      a(href='displayimage.php?album=487&amp;pid=14161#top_display_media',class='navmenu_pic',title='See previous file')
        img(src='/images/gallery/icons/prev.png',border='0',align='middle',alt='See previous file')
    td(align='center',valign='middle',class='navmenu',width='48')
      a(href='displayimage.php?album=487&amp;pid=14163#top_display_media',class='navmenu_pic',title='See next file')
        img(src='/images/gallery/icons/next.png',border='0',align='middle',alt='See next file')
    td(align='center',valign='middle',class='navmenu',width='48')
      a(href='displayimage.php?album=487&amp;pid=14237#top_display_media',class='navmenu_pic',title='Skip to end')
        img(src='/images/gallery/icons/end.png',border='0',align='middle',alt='Skip to end')
        
table(align='center',width='100%',cellspacing='1',cellpadding='0',class='maintable ')
  tr
    td(align='center',class='display_media',nowrap='nowrap')
      table(width='100%',cellspacing='2',cellpadding='0')
        tr
          td(align='center',style=!{SLIDESHOW_STYLE})
            a(href='javascript:;',onclick='MM_openBrWindow("displayimage.php?pid=14160&amp;fullsize=1,1051743903568715e7aa55d,scrollbars=yes,toolbar=no,status=no,resizable=yes,width=1333,height=2003')
              img(src=!{imageSource},width='265',height='400',class='image',border='0',alt='Click to view full size image')
              br
  tr
    td
      table(width='100%',cellspacing='2',cellpadding='0',class='tableb tableb_alternate')
        tr
          td(align='center')
          
div(id=',filmstrip')
  table(align=',center', width=',100%', cellspacing=',1', cellpadding=',0', class=',maintable ')
    tr
      td(valign=',top', class=',filmstrip_background', style=',background-image: url(/images/gallery/icons/filmstrip-tile.gif);')
        img(src=',/images/gallery/icons/filmstrip-tile.gif', alt=',', border=',0')
    tr
      td(valign=',bottom', class=',thumbnails filmstrip_background', align=',center', style=',{THUMB_TD_STYLE}')
        table(width=',100%', cellspacing=',0', cellpadding=',3', border=',0')
          tr
            td(width=',50%', class=',prev_strip')
            td(valign=',bottom',  style=',{THUMB_TD_STYLE}')
              div(id=',film', style=',width:520px; position:relative;')
                table(class=',tape')
                  tr
                    td(align=',center', class=',thumb')
                      a(href=',displayimage.php?album=487&amp;pid=14161#top_display_media', class=',thumbLink', style=',width:100px; float: left')
                        img(src=',albums/Events%202015/11-24%2031st%20Film%20Independent%20Spirit%20Awards%20Nominations%20Press%20Conference/thumb_001.jpg', class=',strip_image', border=',0', alt=',001.jpg', title=',Filename=001.jpg')

                    td(align=',center', class=',thumb')
                      a(href=',displayimage.php?album=487&amp;pid=14160#top_display_media', class=',thumbLink', style=',width:100px; float: left')
                        img(src=',albums/Events%202015/11-24%2031st%20Film%20Independent%20Spirit%20Awards%20Nominations%20Press%20Conference/thumb_002.jpg', class=',strip_image', border=',0', alt=',002.jpg', title=',Filename=002.jpg')

                    td(align=',center', class=',thumb')
                      a(href=',displayimage.php?album=487&amp;pid=14163#top_display_media', class=',thumbLink', style=',width:100px; float: left')
                        img(src=',albums/Events%202015/11-24%2031st%20Film%20Independent%20Spirit%20Awards%20Nominations%20Press%20Conference/thumb_003.jpg', class=',strip_image', border=',0', alt=',003.jpg', title=',Filename=003.jpg')

            td(width=',50%', align=',right', class=',next_strip')
    tr
      td(valign=',top', class=',filmstrip_background', style=',background-image: url(/images/gallery/icons/filmstrip-tile.gif);')
        img(src=',/images/gallery/icons/filmstrip-tile.gif', alt=',', border=',0')
